.sidebars-content {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
 }


 a {
    color: white;
}

.spacer {
    margin-top: 120px;
}

.sidebars-header {
    background-color: #4E5D94 ;
    margin-top: 15px;	
    display: flex;
    justify-content: center; 
    align-items: center;
    top: -15px;
    left: 0;
    position: absolute;
    width: 100%;
    gap : 10px;
    height: 100px;
    border-bottom: solid white 2px;
}
h1 {
    color: white;
    
}

img

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #23272A;
}

.sidebars-content{
    background-color: #4E5D94; 
    width: 12.5vw; 
    height:100vh; 
    position: absolute; 
    top: 0; 
    left: 0;
}

ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

li {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #343f64;
    border-radius: 20px;
}

.sidebars-entries{
    width: 100%;
    height: 100%;
}

.content{
    margin-left: 12.5vw;
    width: 100% - 12.5vw;
}